// Extending base variables
base-font-size     ?= 100%
base-line-height   ?= 1.5
base-border-radius ?= 3px

// Button output configuration
buttons-class-name    ?= "btn"
buttons-line-height   ?= base-line-height
buttons-border-radius ?= base-border-radius

// Colors chosen from FlatUI (flatuicolors.com)
buttons-background           ?= #bdc3c7
buttons-primary-background   ?= #3498db
buttons-inverse-background   ?= #34495e
buttons-success-background   ?= #2ecc71
buttons-warning-background   ?= #f39c12
buttons-danger-background    ?= #e74c3c
